{% extends "base.html" %}

{% block title %}O nás | Thriftopie{% endblock %}

{% block content %}
<div class="about-container">
    <h1>Ahoj, vítej na Thriftopii!</h1>
    <p>Zajímá tě, co je vlastně Thriftopia?</p>
    <p>Thriftopia je závěrečný projekt tří naprosto náhodných lidí z celé České republiky, kteří se rozhodli studovat programování v Pythonu. „Známe“ se od dubna 2024… ehm… víme o své existenci od dubna 2024 a reálně se známe asi tak dva měsíce. 😄</p>

    <p>To, že na projektu pracujeme spolu, je vlastně celkem náhoda. Když jsme se rozdělovali do skupin na závěrečný projekt, náš lektor vyvolával jména a ptal se, s kým budeme ve skupině. Myslím, že vyvolal Toma, který řekl, že nemá parťáka, a já (Kate) s Jirkou jsme se přihlásili s tím, že bychom se k Tomovi rádi přidali.</p>

    <p>A tak jsme se vlastně seznámili. Od té doby jsme spolu trávili celé víkendy – většinou programováním a plánováním postupu při realizaci projektu. No… tak to bylo ze začátku. 😅 Když jsme se začali více poznávat, zjistili jsme, že máme spoustu věcí společných… a bylo jich čím dál víc. Nakonec jsme se domluvili, že Thriftopia je sice „jenom“ závěrečný projekt, ALE koncept se nám líbil natolik, že jsme se rozhodli pokračovat i po ukončení kurzu.</p>

    <p>Na hlavní stránce jste si mohli přečíst, že jde o second hand obchod. Většina věcí pochází od Kate. Kate má totiž trošku problém s nakupováním. 😄 Často se jedná o kousky, které jsou málo nošené, zapomenuté na dně skříně, a některé mají dokonce ještě visačky… Oops! 😮</p>

    <p>Tom má spoustu nápadů! Už teď máme seznam dalších projektů, které ho napadly. Jeden zajímavější než druhý! Móda sice není něco, co by ho naplňovalo tolik jako Kate, ALE díky tomu se můžeme v budoucnu těšit na rozšíření sortimentu o další poklady, jako jsou knihy a různé jiné věci.</p>

    <p>Jirka je trošku záhada. Víme, že existuje (pokud tedy není AI 😮). Povídá si s námi, pracuje s námi na projektu, ale vlastně ani nevíme, co ho baví a co má rád… A my to naprosto respektujeme! 🙃</p>

    <p>Jsme každý jiný… někdo víc upovídaný (Kate) a někdo míň (Jirka). Někdo je furt zaneprázdněný prací a dalšími věcmi (zase Kate), někdo má obrovský focus na programování (Tom) a někdo se poctivě učí teorii, aby zvládl závěrečný test (Jirka).</p>

    <p>Funguje to – a to je hlavní! ❤️</p>

    <p>Doufáme, že tě Thriftopia bude bavit stejně jako nás. Doufáme, že se k nám budeš často vracet a taky doufáme, že si tu společně vybudujeme komunitu fajn lidí!</p>

    <p><strong>Díky, že tu jsi!</strong></p>

    <p><strong>S pozdravem,</strong><br>
    Jirka, Kate a Tom!</p>
</div>
{% endblock %}
