
0,{% extends "base.html" %}

{% block title %}Můj košík | GMart{% endblock %}

{% block content %}
<div class="cart-container">
    <h2 style="font-size: x-large">Váš košík</h2>

    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>
                    <strong>{{ item.product.name }}</strong> - {{ item.product.sell_price }} Kč
                    <!-- Tlačítko pro odebrání produktu -->
                    <form method="post" action="{% url 'remove_from_cart' item.product.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="remove-button">Odebrat</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <p><strong>Celková cena:</strong> {{ total_price }} Kč</p>
    {% else %}
        <p>Váš košík je prázdný.</p>
    {% endif %}
</div>


{% endblock %}
