{% extends "base.html" %}

{% block title %}Kontakt | Thriftopie{% endblock %}

{% block content %}
<div class="about-container">
    <h1>Kontakt</h1>
    <p>Ahoj!</p>
    <p>Jsme teprve na začátku. Nemáme prodejnu, nemáme sklady… všechny věci mám doma v krabicích a na věšácích. 😄 Nebudu vám dávat svou adresu, ale pokud byste si chtěli vyzvednout věci osobně, stačí se domluvit přes e-mail, který najdete níže.</p>

    <p>Osobní vyzvednutí je možné <strong>pouze v Praze</strong>. Pokud to k nám máte daleko, rádi vám vaše nové kousky pošleme Českou poštou nebo přes Zásilkovnu.</p>

    <h2>Kontaktní údaje:</h2>
    <ul>
        <li><strong>Osobní vyzvednutí:</strong> Praha</li>
        <li><strong>E-mail:</strong> <a href="mailto:thriftopia.cz@gmail.com">thriftopia.cz@gmail.com</a></li>
    </ul>
</div>
{% endblock %}
