{% extends "base.html" %}

{% block title %}Přihlášení | GMart{% endblock %}

{% block content %}
<div class="form-wrapper">
    <div class="form-container">
        <h2 class="text-center">Přihlašovací stránka</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Přihlásit se</button>
        </form>
        <p class="text-center mt-3">Nemáte účet? <a href="{% url 'register' %}">Zaregistrujte se zde</a>.</p>
        <p class="text-center mt-1">Zapomněli jste heslo? <a href="{% url 'password_reset' %}">Obnovte ho zde</a>.</p>
    </div>
</div>
{% endblock %}
