{% extends "base.html" %}

{% block title %}Zboží | GMart{% endblock %}

{% block content %}
    {% for product in products %}

        <div class="item1">
            <a href="{% url 'product_detail' product.id %}" style="text-decoration: none; color: inherit;">
                <div class="product-name">
                    {{ product.name }}
                </div>
                <div class="product-image-cont">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                </div>
                <div class="product-price">{{ product.sell_price }},-Kč</div>
            </a>
        </div>

            {% empty %}
                <p>Žádné produkty nebyly nalezeny.</p>
    {% endfor %}

{% endblock %}

