{% extends "base.html" %}

{% block title %}Zboží | GMart{% endblock %}

{% block levy_panel_1 %}
    <h3>Kategorie</h3>
{% endblock %}

{% block levy_panel_2 %}
    <h3>Podkategorie</h3>
{% endblock %}

{% block content %}
{% for product in products %}
<div class="item1">
    <h2item>{{ product.name }}</h2item>
        <h3>Cena: {{ product.sell_price }} Kč</h3>
        <h4>{{ product.description }}</h4>
        </div>

    {% empty %}
    <p>Žádné produkty nebyly nalezeny.</p>



{% endfor %}
{% endblock %}

